.category{
	background-color: #ccffee;
	border-style: ridge;
	border-color: black;
	border-width: 0.3em;
}
.ni{
	cursor: pointer;
}

 .cards{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.card{
	margin: 2%;
}

.space{
	margin: 2%;
}

.card-title{
	cursor: pointer;
}

.card-text{
	cursor: pointer;
}