<div class="header pt-3 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
<a style="margin: 2em;"></a>
<div *ngFor="let type of types; index as i">
	<div class="category navbar navbar-horizontal " (click)="showOrHide(i)" style="height: {{sizes[i]}}">
	<a class="navbar-brand">{{types[i]}}</a>
	<a class="nav-link nav-link-icon nav-item">
		<i class="ni {{icons[i]}}"></i>
	</a>
	</div>
	<div class="cards" *ngIf="status[i]==1">
		<div *ngFor="let don of dons[i]" class="space">  	
			<div class="card" style="width: 18rem;">
			    <div class="card-body">
			      <h4 class="card-title" >{{don.date}}</h4>
			      <p class="card-text">{{don.desc}}</p>
			      <h5 class="card-title"></h5>
			    </div>
		  	</div>
	  	</div>
	</div>
</div>

