<div class="header bg-gradient-default py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenue!</h1>
          <h4 class="text-lead text-light">Veuillez remplir le formulaire d'inscription</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div> -->
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>S'inscrire avec</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>

        <div *ngIf="this.exchangeService.data['registrationFailed']" class="alert alert-danger text-center" role="alert">
          Inscription échouée
        </div>

        <div *ngIf="exchangeService.data['isLoading']" class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
        
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ou inscrivez-vous avec vos informations d'identification</small>
          </div>
          <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input 
                  class="form-control"
                  ngModel 
                  name="username" 
                  placeholder="Nom d'utilisateur" 
                  type="text"
                  maxlength="60" 
                  pattern="[a-zA-Z]*[a-zA-Z]"
                  required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <select 
                  class="form-control" 
                  ngModel 
                  name="role"
                  maxlength="1" 
                  pattern="[a-zA-Z]"
                  required>
                  <option value="" disabled selected hidden>Role</option>
                  <option value="null" disabled selected hidden>Role</option>
                  <option value="A">Association</option>
                  <option value="D">Donneur</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input 
                  #password
                  oncopy="return false" 
                  onpaste="return false"
                  oncut="return false"
                  (keyup)="passwordStrengthChecker(password.value)"
                  (keydown)="passwordStrengthChecker(password.value)"
                  class="form-control"
                  type="password"
                  ngModel 
                  name="password" 
                  placeholder="Mot de passe" 
                  maxlength="120" 
                  required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input 
                  #password_confirmation
                  oncopy="return false" 
                  onpaste="return false"
                  oncut="return false"
                  class="form-control" 
                  type="password"
                  ngModel 
                  name="password_confirmation" 
                  placeholder="Confirmation de mot de passe" 
                  maxlength="120" 
                  required>
              </div>
            </div>
            <div *ngIf="!checkPasswordConfirmation(password.value, password_confirmation.value)" class="alert alert-danger text-center" role="alert">
              Merci de vérifier que vos mots de passe se correspondent
            </div>
            
            <div class="text-muted font-italic"><small>Fiabilité du mot de passe</small></div>
            <progress max="100" value="0" id="meter"></progress>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Je suis d'accord avec la <a [routerLink]="[]">Politique de confidentialité</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button 
                [disabled]="!registrationForm.valid || 
                !checkPasswordConfirmation(password.value, password_confirmation.value)" 
                type="submit" 
                class="btn btn-primary mt-4">
                Créer compte
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
