.postuler .postulertext{
  visibility: hidden;
  width: 120px;
  background-color: rgb(248, 247, 247);
  color: rgb(1, 7, 19);
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.postuler:hover .postulertext {
  visibility: visible;
}

.title{
  text-align: center;
  font-weight:bold;
  font: 3em;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
}

.subtitle{
  font-size: large;
  color: antiquewhite;
}

.card_css
{
  margin: 1.5em;
}

.row_class
{
  margin-top: 0.5em;
}
